.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #c1c1c1;
}

.dowm-wrapper {
  cursor: pointer;
}

.down-icon {
  width: 15px;
}
