.send-chat {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
  max-width: 80%;
}

.send-chat-image-wrapper {
  flex: none;
  width: 50px;
  aspect-ratio: 1;
  background-color: #d9d9d9;
  margin-right: 10px;
  margin-bottom: 3px;
  border-radius: 100%;
}

.send-chat-time {
  color: var(--neutral-color1);
}

.send-chat-message {
  padding: 10px 15px;
  background-color: var(--secondary-color);
  border-radius: 0 10px 10px 10px;
}
