@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.footer {
  color: #f5f5f5;
  background-color: #616161;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 300;

  padding: 80px 0;
}

.footer-content-wrapper {
  max-width: 1200px;
  margin: auto;
}

.footer-move-links {
  margin-bottom: 100px;
}

.footer-move-links > ol {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.footer-move-links > ol > li {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.footer-move-links > ol > li > a {
  text-decoration: none;
  color: #f5f5f5;
}

.footer-informations {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-informations > p {
  margin: 0;
}
